/* Hides the Arrows/Spinners */
/* Removes on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes on Firefox*/
input[type="number"] {
  -moz-appearance: textfield;
}

/* CSS Variables */
:root {
  --main-text-color: #dc143c;
  --main-button-color: #dc143c;
  --main-button-text-color: #fff;
  --main-background-color: #390099;
  --form-text-color: #390099;
  --form-label-color: #390099;
  --form-background-color: #dc143c;
  --form-add-button-color: #5cd651;
  --form-cancel-button-color: #d47a2f;
  --form-border-color: #ffffff;
  --form-radio-buttons-bottom-border-color: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--main-background-color);
}

.book-display {
  visibility: visible;
}

.library-main {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 10px;
}

.title {
  font-size: 54px;
  font-weight: bold;
  color: var(--main-text-color);
}

.book-btn {
  width: 100px;
  height: 25px;
  border-radius: 50px;
  border-style: none;
  background-color: var(--main-button-color);
  color: var(--main-button-text-color);
}

button:hover {
  opacity: 80%;
}

button:active {
  opacity: 70%;
}

.form-popup {
  display: flex;
  justify-content: center;
}

form {
  visibility: visible;
  background-color: var(--form-background-color);
  border: 2px solid var(--form-border-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 10px;
  gap: 10px;
}

.radio-btns {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--form-radio-buttons-bottom-border-color);
  padding-bottom: 5px;
}

.form-btns {
  display: flex;
  justify-content: space-between;
}

.form-btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
}

#form-title {
  color: var(--form-text-color);
}

label {
  color: var(--form-label-color);
  font-size: 18px;
}

.add-btn {
  background-color: var(--form-add-button-color);
  color: var(--form-text-color);
}

.cancel-btn {
  background-color: var(--form-cancel-button-color);
  color: var(--form-text-color);
}
